body{
    background: rgb(6,223,232);
    background: linear-gradient(0deg, rgba(6,223,232,1) 87%, rgba(34,151,195,1) 100%);
    }
    .img-fluid {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2%;
      }
     .form-error{
        color: red;
     }
    .form{
        color: green;
    }
